.footer {
  background-color: #282828;
  position: relative;
  bottom: 0;
  width: 110%;

  h6 {
    text-align: center;
    color: white;
  }
  h4 {
    @extend h6;
  }
  p {
    @extend h6;
    font-size: 0.6em;
  }
}

.footer-end {
  @extend .footer;
  position: absolute;
  bottom: 0;
}